body{
    background: linear-gradient(to right bottom,blue,pink,orange,red);
    background-repeat: no-repeat;
}

.container{
    width: 1000%;
    margin-top: -9px;
    margin-left: -8px;

}

#wrap-2{
    margin-left: 96px;
    box-sizing: border-box;

}
#wrap-3{
    margin-left: 192px;
    box-sizing: border-box;
}
#wrap-4{
    margin-left: 288px;
    box-sizing: border-box;

}
.black1{
    box-sizing: border-box;
	width: 100px;
    height: 100px;
    border-style: solid;
    border-color:white;
    padding: 0px;
    margin-right:182px;
    display: inline-block;
    border-width:4px;
}
.black1:hover{
   background: linear-gradient(to left top,blue,pink,orange,red);
    
    transform:matrix(0.8,0.2,0.2,0.8,0,0);
    border-color:linear-gradient(to left top,blue,pink,orange,red);;
    border-width:0px;    
}

.black2{
        box-sizing: border-box;
	width: 100px;
    height: 100px;
    border-style: solid;
    border-color:white;
    padding: 0px;
    margin-right:182.5px;
    display: inline-block;
    border-width:4px;

}

.black2:hover{
background: linear-gradient(to left top,blue,pink,orange,red);
    
    transform:matrix(0.8,0.2,0.2,0.8,0,0);
    border-color:transparent;
    border-width:0px; 
}

.black3{
        box-sizing: border-box;
	width: 100px;
    height: 100px;
    border-style: solid;
    border-color:white;
    padding: 0px;
    margin-right:182px;
    display: inline-block;
    border-width:4px;

}
.black3:hover{
background: linear-gradient(to left top,blue,pink,orange,red);
    
    transform:matrix(0.8,0.2,0.2,0.8,0,0);
    border-color:transparent;
    border-width:0px; 
}
.black4{
        box-sizing: border-box;
	width: 100px;
    height: 100px;
    border-style: solid;
    border-color:white;
    margin-right:183px;
    display: inline-block;
     border-width:4px;
 }
 .black4:hover{
background: linear-gradient(to left top,blue,pink,orange,red);
    
    transform:matrix(0.8,0.2,0.2,0.8,0,0);
    border-color:transparent;
    border-width:0px; 
}
.black5{
        box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color:white;
    padding: 0px;
    margin-right:182.5px;
    display: inline-block;
    border-width:4px;

}
.black5:hover{
background: linear-gradient(to left top,blue,pink,orange,red);
    
    transform:matrix(0.8,0.2,0.2,0.8,0,0);
    border-color:transparent;
    border-width:0px; 
}
.black6{
        box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color:white;
    margin-right:182px;
    display: inline-block;
     border-width:4px;
}
.black6:hover{
background: linear-gradient(to left top,blue,pink,orange,red);
    
    transform:matrix(0.8,0.2,0.2,0.8,0,0);
    border-color:transparent;
    border-width:0px; 
}

