
.black1{
	width: 200px;
    height: 200px;
    border-style: solid;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-width:1px;
}
.black2{
	width: 200px;
    height: 200px;
    border-style: solid;
    padding: 0px;
    position: absolute;
    top: 200px;
    left: 200px;
        border-width:1px;
}

.black3{
	width: 200px;
    height: 200px;
    border-style: solid;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 400px;
    left: 400px;
        border-width:1px;
}
.black4{
	width: 200px;
    height: 200px;
    border-style: solid;
    padding: 0px;
    position: absolute;
    top: 600px;
    left: 600px;
        border-width:1px;
}

.black5{
	width: 200px;
    height: 200px;
    border-style: solid;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 800px;
    left: 800px;
        border-width:1px;
}




.black6{
	width: 200px;
    height: 200px;
    border-style: solid;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 600px;
    left: 0px;
        border-width:1px;
}
.black7{
	width: 200px;
    height: 200px;
    border-style: solid;
    padding: 0px;
    position: absolute;
    top: 800px;
    left: 200px;
    border-width:1px;
}



.black8{
	width: 200px;
    height: 200px;
    border-style: solid;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 600px;
    border-width:1px;
}
.black9{
	width: 200px;
    height: 200px;
    border-style: solid;
    padding: 0px;
    position: absolute;
    top: 200px;
    left: 800px;
    border-width:1px;
}

.black10{
	width: 200px;
    height: 200px;
    border-style: solid;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 400px;
    left: 1000px;
    border-width:1px;
}

.black11{
	width: 200px;
    height: 200px;
    border-style: solid;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 600px;
    left: 1200px;
    border-width:1px;
}
.black12{
	width: 200px;
    height: 200px;
    border-style: solid;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 800px;
    left: 1400px;
    border-width:1px;
}





.black13{
	width: 200px;
    height: 200px;
    border-style: solid;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 1200px;
    border-width:1px;
}
.black14{
	width: 200px;
    height: 200px;
    border-style: solid;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 200px;
    left: 1400px;
    border-width:1px;
}




