 p{
    position: fixed;
    top:-2vw;
    left:5vw;
    z-index: -1;
    font-size:5vw;
    font-family: Arial;
    opacity: 0.9;
    color: #0c0c75;

 }   
.first1{
	display: inline-block;
	width:16vw;
    height: 6vw;
    border-radius: 3vw;
    padding: 0px;
    margin: 2vw 0vw 0px 10vw;
    border-style: solid;
    border-width: 2px;
    border-color: black;
   	transform: rotate(45deg);

}
.first{
	display: inline-block;
	width:16vw;
    height: 6vw;
    border-radius: 3vw;
    padding: 0px;
    margin: 2vw 0vw 0px 1vw;
    border-style: solid;
    border-width: 2px;
    border-color: black;
   	transform: rotate(45deg);

}

.second{
	display: inline-block;
	width:16vw;
    height: 6vw;
    border-radius: 3vw;
    padding: 0px;
    margin: 2vw 0vw 0px 1vw;
    border-style: solid;
    border-width: 2px;
    border-color: black;
   	transform: rotate(-45deg);

}